.nav-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

.nav-route {
  text-decoration: none;
  margin: 0px 20px;
  color: #000;
  border-bottom: 1px solid #000;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    color: grey;
  }
  &:active {
    border-bottom: none;
    border-top: 1px solid red;
    color: red;
  }
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.nav-title {
  justify-self: center;
  font-size: 50px;
  margin: 0px;
}

.nav-route__container {
  margin: 0;
}

.nav-title__container {
  display: flex;
}