.nav-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-route {
  text-decoration: none;
  margin: 0px 10px;
  color: #000;
  border-bottom: 1px solid #000;
  &:hover {
    cursor: pointer;
    color: grey;
  }
  &:active {
    border-bottom: none;
    border-top: 1px solid red;
    color: red;
  }
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-title {
  justify-self: center;
  font-size: 45px;
  margin: 0px;
}

.nav-route__container {
  margin: 0;
}

.nav-title__container {
  display: flex;
}